@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
  font-family: 'Cabin Sketch', sans-serif;

  // To move registration page/login page icons behind bottom nav
  .icon.is-small.is-left {
    z-index: 0;
  }

  // To restrict the witdh of the autocomplete inputs
  input.location-input {
    width: 50% !important;
  }
  .emotion {
    width: 200px;
    height: 200px;
    &:hover {
      border: 10px solid #f1B277;
      border-radius: 50%;
    }
    &:active {
      border: 10px solid #f1B277;
      border-radius: 50%;
    }
  }

  .chosen-emotion {
    border: 10px solid #f1B277;
    border-radius: 50%;
  }

  a:hover {
    color: #f1B277;
  }

  .top-nav {
    z-index: 6;
    height: 60px;
    nav {
      background-color: #A9A9A9;
    }

    .is-active {
      transition: 0.5s;
    }
  }

  .logo {
    height: 50px;
  }

  h2 {
    font-size: 40px;  //dont delete this
  }

  h3 {
    font-size: 30px;  //dont delete this
  }


  .user-forms {
    border: 0px solid #e4e4e4;
    margin: 0 auto;
    width: 400px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    text-align: left;
  }

  .edit_profile {
    margin: 0 auto;
    width: 500px;
    padding-top: 30px;
  }

  .edit_image {
    height: 20%;
    margin: 0 auto;
    display: block;
  }

  .orange {
    color: #fff;
    background-color: #EFB26B;
    border: 0px;
  }

  .orange:hover {
    color: #fff;
    background-color: #d6964d;
  }

  .profile_button {
    margin-top: 10px;
  }

  button > .home_buttons {
    width: 300px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  }
  :-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
  }
  :-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  }

  .emotion_icons {
    margin: 0 auto;
  }

  // emotion_icons hover and shake states
  .emotion_icons:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: pointer;
    color: #143853;
  }

  @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.pac-item {
  color: #666;
}

  // Directions styling

  .navbar-brand, .navbarMenuHeroA {
    height: 5vh;
  }


  .adp-directions, .adp-summary {
   color: #fff !important;
   font-weight: 400;
   margin: 0 auto;
   padding-top: 10px;
  }

  .adp-warnbox, .adp-placemark {
    display: none;
  }

  .bottom-nav {
    text-align: center;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .active-bottom-nav {
    text-align: center;
    width: 100%;
    height: 50vh;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: scroll;
  }

  .bottomnav {
    width: 100vw;
    height: auto;
  }

  .navigationhidden {
    display: none;
  }

  .navigationshown {
    display: block;
  }

  // Rotates the chevron when opening and closing the bottom nav
  .chevron-image {
    width: 25px;
    height: 25px;
    color: #fff;
    transform: rotate(0deg);
    transition: transform 500ms linear;
  }

  .chevron-image.active-chevron {
    width: 25px;
    height: 25px;
    color: #fff;
    transform: rotate(180deg);
  }

// edit by Reena Thurs 22nd March

  .bottom-nav-button {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #EFB26B;
    border-radius: 3px;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    // padding: 10px 6px;
    margin: 5px 0;
    border: 0px;
  }

// edit by Reena Thurs 22nd March
  .bottom-nav-button:hover {
    background-color: #d6964d;
    color: #fff;
  }

  .bottom-go-button {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #c9781b;
    border-radius: 3px;
    width: 50%;
    height: 50px;
    margin: 5px auto;
    border: 0px;
    position: relative;
    top: 30px;
  }

// edit by Reena Thurs 22nd March
  .bottom-go-button:hover {
    background-color: #915613;
    color: #fff;
  }

  .fa-arrow-right {
    margin-left: 10px;
  }


  .bottom-nav-next-button {
    width: 80px;
  }

  .bottom-nav-heading {
    height: 40px;

  }

  .bottom-nav-text {
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
  }

  .column > input {
    width: 50%;
    height: 40px;
    position: absolute;
    font-size: 14px;
    padding: 5px;
    color: #666;
  }

  .google-map {
    width: 100%;
    height: calc(100vh - 115px);
  }

  .notification {
    height: 60px;
    line-height: 1em;
    position: absolute;
    z-index: 10;
    animation-duration: 4s;
    animation-name: slide;
  }

  .column {
    border: 0px solid red;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-bottom: 25px;
  }

  footer, nav.tabs {
    height: 60px;
    color: #444;
    background-color: #111;
    z-index: 5;
    vertical-align: bottom;

    p {
      display: table-cell;
      vertical-align: bottom;
      bottom: 10px;
      height: 50px;
      width: 50px;
    }
  }

  .loadingModal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;

    .innerModal{
      height: 50%;
      width: 50%;
      margin: 200px auto;

      p{
        font-size: 30px;
        color: #fff;
        text-align: center;
      }

      img{
        display: block;
        margin: 0 auto;
      }

    }

  }
}

// Animation for flash messages to slide in from right and then slide back right off the screen
@keyframes slide {
  0% {
    margin-left: 100%;
    width: 300%;
  }

  25% {
    margin-left: 0%;
    width: 100%;
  }

  75% {
    margin-left: 0%;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 300%;
  }
}


// Media queries for optimizing layout based on screen size
@media (max-width: 768px) {
  .hero-foot {
    position: fixed;
    left: 0vh;
    bottom: 0vw;
    width: 100%;
  }
  .user-navigator {
    z-index: 5;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 400px;
  }

  .user-forms, input {
    width: 90% !important;
  }

  .edit_image {
    max-height: 100px;

    margin: 0 auto;
    display: block;
  }

  .emotion {
    max-height: 100px;
    max-width: 100px;
  }

  .bottom-nav-input{
    text-align: center;
  }

  .is-one-quarter-mobile {
    img {
      height: 50px;
      width: 50px;
      &:visited {
        border: 5px solid red;
        border-radius: 10px;
      }
    }
  }
}



// iPhone 5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    div.google-map {
    display: block;
    height: calc(100vh - 195px);
  }
  .user-forms, input {
    width: 100% !important;
  }

  .edit_profile {
    width: 90%;
  }
}

// iPhone 6
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    div.google-map {
      display: block;
      height: calc(100vh - 195px);
    }
    .user-forms, input {
      width: 100% !important;
    }
    .edit_profile {
      width: 90%;
    }
  }

// iPhone X
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 812px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : portrait) {
    div.google-map {
      display: block;
      height: calc(100vh - 230px);
    }
    .user-forms, input {
      width: 100% !important;
    }
    .edit_profile {
      width: 90%;
    }
  }

// iPhone 6 Plus
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
  div.google-map {
    display: block;
    height: calc(100vh - 193px);
  }
  .user-forms, input {
    width: 100% !important;
  }
  .edit_profile {
    width: 90%;
  }
}

// iPad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  div.google-map {
    display: block;
    height: calc(100vh - 150px);
  }
  .user-forms, input {
    width: 100% !important;
  }
  .edit_profile {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .hero-foot {
    position: fixed;
    left: 0vh;
    bottom: 0vw;
    width: 100%;
  }
  .user-navigator {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 100%;
  }

  .edit_image {
    height: 100px;
    margin: 0 auto;
    display: block;
  }
}
