{{ pagesHome }}

<google-map zoom="10" center="{ lat: 51.6, lng: -0.08 }" origin="pagesHome.origin" destination="pagesHome.destination" travel-mode="pagesHome.travelMode"></google-map>

<input type="text" placeholder="Enter an origin location" ng-model="pagesHome.origin">
<input type="text" placeholder="Enter a destination location" ng-model="pagesHome.destination">

<form>
    <button value="WALKING" ng-click="pagesHome.walking()">Walking</button>
    <button type="button" value="DRIVING" ng-click="pagesHome.driving()">Driving</button>
</form>
