{{ pagesHome }}

<google-map zoom="10" center="{ lat: 51.6, lng: -0.08 }" origin="pagesHome.origin" destination="pagesHome.destination" travel-mode="pagesHome.travelMode"></google-map>


<input google-auto-complete type="text" placeholder="Enter an origin location" ng-model="pagesHome.origin">
<input google-auto-complete type="text" placeholder="Enter a destination location" ng-model="pagesHome.destination">

<form>
  <label>
    <input type="radio" value="WALKING" ng-model="pagesHome.travelMode"> Walking
  </label>
  <label>
    <input type="radio" value="DRIVING" ng-model="pagesHome.travelMode"> Taxi
  </label>

  <button>Find Route</button>
</form>
