<!DOCTYPE html>
<html ng-app="crave">
  <head>
    <meta charset="utf-8">
    <title>WDI32 Group Project</title>
    <!-- Viewport tag for mobile optimization -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8C7HRroI6BaALKHa6EHMc_BDYLIB5kUA&libraries=places"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bangers|Cabin+Sketch|Permanent+Marker|Rock+Salt" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  </head>
  <body ng-controller="MainCtrl as main">

    <!-- Flash messages -->
    <div class="notification is-{{ main.flashMessage.type }}" ng-if="main.flashMessage">
      {{ main.flashMessage.content }}
    </div>

    <section class="hero is-medium">
       <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" ui-sref="home">
                  <h1 class="logo">CRAVE</h1>
                </a>
                <span ng-class="class" ng-click="changeClass()" class="navbar-burger burger" data-target="tingnavbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="tingnavbarMenuHeroA" ng-class="class" ng-click="changeClass()" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" ui-sref="authRegister" ng-if="!main.isAuthenticated()">REGISTER</a>
                  <a class="navbar-item" ui-sref="authLogin" ng-if="!main.isAuthenticated()">LOGIN</a>
                  <a class="navbar-item" ui-sref="authShow" ng-if="main.isAuthenticated()">PROFILE</a>
                  <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">LOGOUT</a>
                </div>
              </div>
            </div>
          </nav>
        </div>

    <ui-view></ui-view>

    <!-- Hero footer: will stick at the bottom optional-->
      <div class="hero-foot">
        <nav class="tabs">
          <footer class="container">
            <p>MADE BY TEAM HOTs</p>
          </footer>
        </nav>
      </div>
    </section>

  </body>
</html>
