<!DOCTYPE html>
<html ng-app="crave">
<head>
  <meta charset="utf-8">
  <title>WDI32 Group Project</title>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8C7HRroI6BaALKHa6EHMc_BDYLIB5kUA&libraries=places"></script>

</head>
<body  ng-controller="MainCtrl as main">

  <nav>
    <h1>NAV</h1>
    <a ui-sref="craveHome">HOME</a>
    <a ui-sref="craveIndex">INDEX</a>
    <a ui-sref="authRegister">REGISTER</a>
    <a ui-sref="craveProfile">PROFILE</a>
    <a ui-sref="authLogin">LOGIN</a>
    <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>

  </nav>

  <ui-view></ui-view>

</body>
</html>
