<section class="section">
  <div class="container">
    <h2 class="has-text-centered">hiya {{ authShow.user.name }}</h2>
    <h3 class="has-text-centered">update your profile page</h3>
    <div class="columns">
      <div class="column">
        <img class="edit_image" src="/assets/images/vomit_orange.png" />
        <div class="edit_profile">
              <ul>
                <li><p><strong>Crave username:</strong> {{ authShow.user.name }}</p></li>
                <li><p><strong>Email:</strong> {{ authShow.user.email }}</p></li>
                <li><p><strong>Home Address:</strong> {{ authShow.user.home }}</p></li>
                <li><p><strong>Work Address:</strong> {{ authShow.user.work }}</p></li>
              </ul>
              <a class="button orange profile_button" ui-sref="authEdit" ng-if="main.isAuthenticated()">Edit Profile</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
